<p class="texto">List of all Players</p>
<% Player.all.each do |player|%>
  <div class="user-profile">
    <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
      <div class="username"><%= player.name%></div>
    <div class="bio">
      <%= player.role %>
    </div>
      <div class="description">
        I use to design websites and applications
        for the web.
    </div>
    <ul class="data">
      <% player.stats.split(',').each do |stat| %>
        <li>
          <span> <%= stat %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <br><br><br>
<% end %>
