body {
    font-family: Arial;
    color: white;
  }

.split {
	height: 650px;
	width: 50%;
	position: fixed;
	z-index: 1;
  top: 100px;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .left {
    overflow: scroll;
    overflow: visible;
	left: 0;
  }
  
  .right {
    overflow: auto;
	right: 0;
  }
  
  .centered {
	position: absolute;
	/*top: 400px;*/
	right: 33%;
	transform: translate(-50%);
	text-align: center;
  }
  
  .centered img {
	width: 150px;
	border-radius: 50%;
  }




  
  .team.left {
    left: 0;
    top: 100px;
    overflow: auto;
    background-color: rgb(19, 30, 124);
  }
  
  .team.right {
    top: 100px;
    right: 0;
    }