<p class="texto">Create a new Team</p>
<div class="Registro">
<form method="post" action="/teams/new">

<span ></span><input type="text" name="name" required placeholder="Team name" autocomplete="off"> <br><br>
<input type="submit" id="submit" value="Create Team">
</form>