<p class="texto">List of all your Teams</p>

<div class="split left">
    <div class="centered">
        <div class="card">	
            <div class="top">
                <p class="texto" style="color:white;">Create a Team</p>
            </div>
            <div class="bottom">
                <a href="/teams/new">Click here (wip an icon of a +?)</a>
            </div>
        </div>
    </div>
</div>

<% if @teams%>
    <div class="split right">
        <div class="centered">
            <% @teams.all.each do |team|%>

                <div class="card">
                    <div class="top">
                        <a href="/teams/<%=team.id%>"><%= team.name %></a>
                    </div>
                    <div class="bottom">
                        WIP should show players names
                    </div>
                </div>
                <br><br><br>
            <% end %>
        </div>
    </div>

<% end %>