<p class="texto">List of all your Teams</p>

<div class="split left">
    <a href="/teams/new">
        <div class="card">	
            <p class="texto" style="color:white;">Create a Team</p>
        </div>
    </a>
</div>

<% if @teams %>
    <div class="split right">
        <% @teams.all.each do |team|%>
        <a href="/teams/<%=team.id%>" class="texto" style="color:white;">
            <div class="card">
                <div class="top">
                    <%= team.name %>
                </div></a>
                <div class="bottom">
                    <ul>
                        <% team.players.all.each do |player|%>
                            <li><p><%= player.name%></p>
                        <% end %>
                    </ul>
                </div>
            </div>
        
        <br><br><br>
        <% end %>
    </div>

<% end %>