<p class="texto">Log in</p>
<div class="Registro">
<form method="post" action="/login">

<span class="entypo-user"></span><input type="text" name="username" required placeholder="Username" autocomplete="off"> 
<span class="entypo-lock"></span><input type="password" name="password" id="password" required placeholder="Password" autocomplete="off"> 
<input type="submit" id="submit" value="Sign up">
</form>
</div>