<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Fantasy Hockey Sinatra Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/player_styles.css" />
  </head>
  <body>
    <div class="wrapper">
    
      <div id="header">
        <div class="gsify paginate">
          <h1 class="pull-left"> 
            Fantasy Hockey
            <span><br>
              <% if logged_in? %>
              <%= current_user.username %>
              <% else %>
              Please log in
              <% end %>
            </span>
          </h1>
          <div class="pull-right login">
            <% if logged_in? %>
            <a href="/logout">Log out</a>
            <% else %>
            <a href="/signin">Sign in</a><br><br>
            <a href="/login">Log in</a>
            <% end %>
          </div>
        </div>
      </div>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>FantasyHockeySinatraProject</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
