<!-- 
Design register pure CSS
Developed by @mrjopino
-->
<p class="texto">Sign up</p>
<div class="Registro">
<form method="post" action="/signup">

<span class="fontawesome-user"></span><input type="text" name="username" required placeholder="Username" autocomplete="off"> 
<span class="fontawesome-envelope-alt"></span><input type="text" name="email" required placeholder="Email" autocomplete="off">
<span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="Password" autocomplete="off"> 
<input type="submit" id="submit" value="Sign up">